
body {
    font-family: 'Poppins', sans-serif, Arial;
    font-weight: 500;
    font-size: 14px;
    color: #222222;
    background-color: #F2F2F2;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vh;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
body.disable-scroll {
    overflow: hidden;
}
@media (max-width: 480px) {
   
}
