.section-footer {
    background-color: #fff;
    font-size: 0.9rem;
    padding-bottom: 2rem;
}
.section-footer .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 10rem 0rem 2rem;
}
.copyright-section{
    font-weight: 300;
}
.privacy-section{
    font-weight: 300;
}
@media (max-width: 1024px) {
    .section-footer .inner {
        margin: 0 5rem 0 2rem;
        flex-direction: row;
        gap: 1.5rem;
    }
    
    .copyright-section {
        max-width: 100%;
    }
    
    .privacy-section {
        align-self: center;
    }
}