.section-companies {
    height: 40rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 7rem;
}

@media (max-width: 1024px) {
    .section-companies {
        padding: 0 4rem;
        height: auto;
        min-height: 40rem;
    }
    .companies-text {
        margin-right: 2rem;
        width: 45%; 
    }
    .companies-content {
        width: 45%; 
    }
}
@media (max-width: 768px) {
    .section-companies {
        padding: 0 5rem; 
        min-height: 45rem; 
        gap: 4rem; 
        justify-content: space-evenly; 
        display: flex;
        flex-direction: column-reverse;
        
    }
    .companies-text {
        width: 40%; 
    }
    .companies-content {
        width: 400px;
        min-width: 400px;
    }
}