.section-info{
    height: 20rem;
    background-color: white;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0rem 18rem 0rem 2rem;
}
.inner{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.info-logo {
    margin-bottom: 2rem;
    margin-right: 4rem;
}
.info-action{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.subinner {
    display: flex;
    gap: 7rem;
}
.info {
    display: flex;
    flex-direction: column;
}
.new-api{
    display: flex;
    align-items: center;
}
.careers .new-api a {
    margin-bottom: 0;
}

.green {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 2.2rem;
    margin: 0rem 0rem 0rem 0.5rem;
    background-color: #ECFDF3;
    border-radius: 20px;
}
.green-paragraph {
    font-size: 0.7rem;
    color: #027A48;
}
.careers {
    display: flex;
    flex-direction: column;
}
.careers a {
    margin-bottom: 1rem;
    font-weight: 300;
}

.info a {
    margin-bottom: 1rem;
    font-weight: 300;
}